         /* ARRIBA*/

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin-block-start: 10px;
}
.botones-arriba
{

    text-align: right;
    grid-column: auto;

}
.botones-arr
{
    font-size: 12px;
    text-decoration: none;
    color:rgb(100, 100, 100);
    padding: 10px 10px;
}
.botones-arr:hover
{
    text-decoration: underline;
}
.bn-apps
{
   position: relative;
   color: rgb(104, 104, 104); 
   
   top: 7px;
}
.bn-apps:hover
{
    cursor: pointer;
    color: rgb(44, 44, 44);
}
.bn-inicio
{
    color: white;
    background-color: #207DE8;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border: 0;
}
.bn-inicio:hover
{
    background-color: #1A8AE8;
    cursor: pointer;
}

      /*CENTRO*/
center 
{
    margin-top: 7%;
}      

.log-center
{
    margin-bottom: 1em;

}
.container
{
    width: 833px;
    height: 140;
}
.search
{
    overflow: visible;
    
   
}
.icon-buscador
{
    position: static;
    display: flex; 
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background: #fff;
    height: 44px;
    width: 482px;
    margin-right: 3em;  
    margin-bottom: 2em;  
    padding-left: 14px;
    padding-top: 5px;
    padding-bottom: -10px;
    
}
.icon-buscador:hover
{
    box-shadow: 2px 2px 2px 1px rgba(146, 146, 146, 0.2) , -2px -2px 2px 1px rgba(151, 151, 151, 0.2);
    /*border:1.5px solid rgb(172, 172, 172);*/
    
}

.icon-busca
{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.icon
{
    color: rgb(167, 167, 167);
    position: static;
    cursor: default;
}

.buscador
{
    width: 382px;    
    border: transparent;
    position: static;   
}
.icon-buscador
{
    display: inline-block;
    margin-bottom: 2em;
    position: static;
    box-sizing: border-box;
}
.bn-abj-nav
{
    
    font-size: small;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    padding: 10px;
    cursor: pointer;
}
.bn-abj-nav:hover
{
    
    border: 1px solid rgb(168, 167, 167);
    color: rgb(73, 73, 73);
}
.ofre-po
{
    font-size: small;
}
.ofre-po_
{
    text-decoration: none;
}
.ofre-po_:hover{
    text-decoration: underline;
}
 /*Abajo*/

.footer_a
{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: inherit;
    background: rgb(240, 239, 239);
    color: rgba(0,0,0,.54);
    line-height: 40px;
    border-top: 1px solid #e4e4e4; 
}
.col
{
    padding-left: 5px;
    border-bottom: 1px solid #e4e4e4;
    color: rgb(73, 73, 73);
    display: block;
}
.barras-abajo
{
   text-align: right; 
}
.br-iz
{
    padding: 5px;
}
.br-dr
{
    padding: 5px;
    float: right;
    text-align: right; 
    white-space: nowrap;
}
.color-vin
{
    padding-right: 1em;
    text-decoration: none;
    color: rgb(73, 73, 73);
}
.color-vin:hover
{
    text-decoration: underline;
}
@media screen and (max-width: 640px)
{
    body
    {
        width: 340px;
    }
    .container
    {
        display: flex;
        
        align-self: center;
        width: 233px;
        height: 140;
    }
    .buscador
    {
        width: 222px;    
        border: transparent;
        position: static;   
    }
    .icon-buscador
    {
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        background: #fff;
        height: 34px;
        width: 262px;
    }
    .botones-abj
    {
        display: none;
    }
    .como
    {
        display: none !important;
    }
    .br-iz
    {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .br-dr
    {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}